<div class="container mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h1>Create a pet</h1>
        <%= simple_form_for @pet do |f| %>
        <%=  f.input :name %>
        <%=  f.input :description %>
        <%=  f.input :location %>
        <%=  f.input :breed %>
        <%=  f.input :price %>
        <%= f.submit class: "btn btn-primary"%>
        <%  end %>
    </div>
</div>
