
<div class="bg-white text-dark">
<div class="container ">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="card">
      <h1><%= @pet.name %></h1>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Description</th>
            <td><%= @pet.description %></td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td><%= @pet.location %></td>
          </tr>
          <tr>
            <th scope="row">Breed</th>
            <td><%= @pet.breed %></td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td><%= @pet.price %></td>
          </tr>
        </tbody>
      </table>
      </div>
      <%= link_to "Delete", pet_path(@pet), class: "btn btn-primary btn-sm", method: :delete, data: { confirm: "Delete?" }%>
    </div>
  </div>
</div>
</div>
