<div class="d-flex">
  <div class="container">
    <div class="card mb-3" style="width: 800px; height: auto;">
      <div class="card-body text-left">
        <h5 class="card-title"><%= @pet.name %> - <%= @pet.breed %></h5>
        <h6 class="card-text"><medium><%= @pet.location %></medium></h6>

        <div class="pet-img-show" style="background-image: url('<%=cl_image_path(@pet.photo.key)%>')">
        </div>

        <br>
        <h6 class="card-text"><strong>Owned by Bob <%= @user %></strong></h6>
        <p class="card-text">Description: <%= @pet.description%></p>
        <p class="card-text">Price: <%= @pet.price%> euro </p>
        <%= link_to "Back", pets_path, class: "btn btn-outline-secondary btn-sm"%>
        <%= link_to "Delete", pet_path(@pet), class: "btn btn-outline-secondary btn-sm", method: :delete, data: { confirm: "Delete?" }%>
        <%= link_to "Book animal", pet_path(@pet), class: "btn btn-outline-secondary btn-sm"%>
      </div>
    </div>
  </div>
</div>
