<div class="container-olivia">
    <h1 class="h1-dashboard">Dashboard</h1>
    <br>
    <strong><p class="resizing-title">My bookings</p></strong>
  <% @my_bookings.each do |booking| %>
    <div class="card-dashboard">
      <div class="card-dashboard-image" style="background-image: url('<%= cl_image_path (booking.pet.photo.key)%>')">
      </div>
      <div class="card-dashboard-content">
        <span><i class="fas fa-map-marker-alt text-primary mr-2"></i><%= booking.pet.location%></span>
        <br>
        <br>
        <div class="align-center-petbreeddescription">
        <div class="pet-breed-font"><strong><%= booking.pet.name %> - <%= booking.pet.breed %><br></strong></div>
        <div class="border-bottom"></div>
        <p><%= booking.pet.description %></p>
        <i class="far fa-calendar-times"></i>
          <p>Booking date: from <%= booking.start_date %> to <%= booking.end_date %></p>
        </div>
        <div class="align-right-bookingpetprice">
        <%= booking.pet.price %>€ / day
        </div>
      </div>
      <div class="card-dashboard-booking-status">
        <div>
          <p><%= booking.status %></p>
          <%= link_to "View Booking", edit_booking_path(booking) %>
        </div>
      </div>
    </div>
  <% end %>
  
  <br>
  <br>
  <div class="booking-separator"></div>
  <br>
  <strong><p class="resizing-title">My pets</p></strong>
    <% @my_pets_bookings.each do |booking| %>
    <div class="card-dashboard">
      <div class="card-dashboard-image" style="background-image: url('<%= cl_image_path (booking.pet.photo.key)%>')">
      </div>
      <div class="card-dashboard-content">
        <br>
        <br>
        <div class="align-center-petbreeddescription">
        <div class="pet-breed-font"><strong><%= booking.pet.name %> - <%= booking.pet.breed %><br></strong></div>
        <div class="border-bottom"></div>
        <br>
        <i class="far fa-calendar-times"></i>
        Booking date: from <%= booking.start_date %> to <%= booking.end_date %><br>
        <br>
        </div>
        <br>
        <br>
        <div class="align-right-bookingpetprice">
        <%= booking.pet.price %>€ / day
        </div class="btn-bookpet">
      </div>
      <div class="card-dashboard-booking-status">
        <% if booking.status == 'pending' %>
        <%= link_to booking_path(booking, query: "accepted"), method: :patch, data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-check-circle accepted-icon"></i>
        <% end %>
        <%= link_to booking_path(booking, query: "declined"), method: :patch, data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-times-circle declined-icon"></i>
        <% end %>
        <% else %>
        <div class="">
          <p><%= booking.status %></p>
          <%= link_to "View Booking", edit_booking_path(booking) %>
        </div>
        <% end  %>
      </div>
    </div>
  <% end %>
</div>
